*{
    margin: 0;
    padding: 0;
}
.lcw{
    width: 70%;
    margin: 30px auto;
}
.header{
    text-align: center;
}
.header-text{
    font-size: 22px;
    margin: 20px 0;
}
.header-button {
    background-color: #000;
    color: #fff;
    padding: 10px 50px;
    border-radius: 20px;
    border: 0;
    margin: 20px 0;

}
.header-button:hover{
    background-color: #ff0000;
}
.transition {
    transition: 1s;
}
.header-link{
    display: none;
}
.header-link a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.header-link a:hover{
    color: #ff0000;
}


